.header__lang-link {               
    min-width: 30px;
    margin-left: 18px;
    text-align: right;
    font-size: 24px;
    line-height: 117%;
    color: #fff;
    text-decoration: none;
}

.header__lang-link:hover {          /* Прозрачность ссылки при наведении*/
    opacity: 0.8;
    transition: 0.35s;
}

@media screen and (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
    }
} 