/* секции content ------------------------------------------------------------------------------------------ */

.content {                         /* Общий контейнер для всего контента */
    max-width: 1184px;
    margin: 0 auto;
    padding: 0;
    padding-top: 48px;            /* Особо пока не понял как лучше отделять секции padding или margin мнения, в группе расходяться 50/50, в работе пробую оба подхода */
}