/*---------------------------------------------------------------*/

.place__link {
    line-height: 122%;
    font-size: 18px;
    color: #fff;
    
}

.place__link:hover {          /* Прозрачность ссылки при наведении*/
    opacity: 0.8;
    transition: 0.35s;
}
