/*---------------------------------------------------------------*/

.place__url-heading {           /* Секция с ссылками на карточке */
    margin: 0;
    padding-bottom: 12px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 70%;
    font-size: 12px;
    letter-spacing: 0.2em;
    color: #AAA;
}
