/*---------------------------------------------------------------*/

.place__website {
    align-self: end;
}

@media screen and (max-width: 425px) {
    .place__website {
        margin-left: 16px;
        margin-right: 16px;
    }
} 

@media screen and (max-width: 320px) {
    .place__website {
        min-width: 288px;
        margin: 32px auto;
    }
} 